@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.dancing-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight:400 ;
    font-style: italic;
    font-size: 6rem;
  }
*{
    margin: 0;
    padding: 0;
}

.btn {
    background-color: rgb(230, 83, 60);
    color: white;
    border-radius: 2rem;
    border: none;
    width: 12vw;
    height: 6vh;
    font-size: 1.3rem;
}
.btn-2nd {
    border: 1px solid white;
    border-radius: 2rem;
    height: 6vh;
    width: 12vw;
    background-color: black;
    color: white;
    font-size: 1.3rem;
}
p{
    color: rgba(255, 255, 255, 0.5);
}
table{
    text-align: left;
    border: 1px solid #9e9e9e8f;
    border-collapse: collapse;
    width: 18vw;
    height: 21vh;
}
td{
    border: 1px solid #9e9e9e8f;
    margin: 0 auto;
    text-align: center;
}
th{
    text-align: center;
    font-size: 1.1rem;
    border: 1px solid #9e9e9e8f;
}
body{
    background-color: black;
    color: white;
}
.head{
    display: flex;
    width: 80vw;
    margin: 5vh auto 10vh auto;
    justify-content: space-between;
}
.head h1{
    font-size: 3rem;
    color: rgb(230, 83, 60);
}
nav{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6rem;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    gap: 3.3vw;
    padding: 0px 1rem 0px 0px;
    border: 1px solid #808080a6;
    border-radius: 3vw;
}
nav ul li {
    color: #9E9E9E;
    list-style: none;
    font-size: 1.5rem;
}
nav ul li:first-child{
    color: white;
    border-radius: 2vw;
    padding: 0.8vh 1.2vw;
    background-color: rgb(230, 83, 60);
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    margin: 0 auto;
    align-items: center;
}
.hero-1st{
    color: white;
    
}
.hero-1st h1 {
    font-size: 5.5rem;
    font-weight: 900;
    width: 94%;
}
.hero-1st p {
    width: 75%;
    margin: 2rem 0rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
}
.hero-2nd{
    color: white;
    background-image: url(./images/Images\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 73vh;
    
}
.short-1{
    background-color: rgba(48, 48, 48, 0.54);
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 15vh;
    left: 21vw;
    padding: 2rem;
}
.short-1 h1{
    font-size: 2.8rem;
    font-weight: 900;
}
.short-1 p{
    color: rgba(255, 255, 255, 0.65);

}
.short-2{
    background-color: rgba(48, 48, 48, 0.54);
    width: 14rem;
    height: 6rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5vw;
    top: 40vh;
    gap: 1rem;
}
.dot button{
    width: 3rem;
    border-radius: 3rem;
    height: 3rem;
    background-color:rgb(230, 83, 60) ;
    border: none;
}
.cont{
    font-size: 1.2rem;
}
.cont p {
    color: rgba(239, 237, 232, 0.65);
}
.sec-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
}
.sec2-title{
    color: white;
    margin: 3rem 0rem;
}
.sec2-title h1{
    font-size: 3rem;
    font-weight: 900;
}
.sec2-title p{
    font-size: 1.1rem;
    width: 40vw;
    color: rgba(255, 255, 255, 0.5);
    margin: 1.2rem 0rem;
}
.sec2-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80vw;
    margin: 0 auto;
}
.card{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.card h2{
    color: rgb(255, 255, 255);
}
.card p{
    width: 78%;
}
.card img{
        border-radius: 10rem;
        width: 60%;
        border: 8px solid rgb(15, 15, 15);
}
.sec-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 13vh auto;
    background-color: #95959526;
    border-radius: 1rem;
    padding: 2.5rem;
}
.sec3-left{
    display: flex;
    gap: 2rem;
    width: 25vw;
    flex-direction: column;
    margin-left: 3rem;
}
.sec3-left h1{
    font-size: 3.5rem;
    font-weight: 900;
}
.sec3-left p{
    line-height: 1.5rem;
}
.sec-3 img{
    width: 32vw;
    border-radius: 1rem;
}
.sec-4-title{
    width: 40vw;
    margin: 0 auto;
}
.sec-4-title h1{
    margin: 1.5rem 0rem;
    font-size: 3.5rem;
    font-weight: 900;
}
.sec-4{
    margin: 10vh auto;
    background-color: rgb(34, 34, 34);;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}
.input{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 0.5rem;
}
.input input{
    background:rgba(255, 255, 255, 0.1);
    font-size: 1.2rem;
    height: 4vh;
    border: none;
    border-radius: 0.6rem;
    padding-left: 1rem;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
.input select{
    background: rgba(255, 255, 255, 0.1);
    font-size: 1.2rem;
    height: 4vh;
    border: none;
    border-radius: 0.6rem;
    padding-left: 1rem;
    color: rgba(255, 255, 255, 0.6);
}
.sec-5-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-5{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80vw;
    margin: 10vh auto;
    background-color: #95959526;
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem;
}
.trainer-1{
    background-image: url(./images/trainer1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    width: 87%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}
.trainer-2{
    background-image: url(./images/trainer2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    width: 87%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}
.trainer-3{
    background-image: url(./images/trainer3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    width: 87%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}
.trainer-4{
    background-image: url(./images/trainer4.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    width: 87%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}
.trainer-5{
    background-image: url(./images/trainer5.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    width: 87%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}
.trainer-6{
    background-image: url(./images/trainer6.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    width: 87%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3b3b3b66;
}
.foot{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80vw;
    margin: 0 auto;
}

.bottom{
    width: 80vw;
    text-align: center;
}
.left-foot h1{
    color:#eb391a;
    font-size: 3rem;
}
footer ul li {
    list-style: none;
}

@media screen and (max-width: 720px) {
    .btn{
        width: 32vw;
        height: 5vh;
    }
    .btn-2nd{
        width: 32vw;
        height: 5vh;
    }
    nav{
        display: none;
    }
    .hero{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .hero-1st h1{
        font-size: 4rem;
    }
    .dancing-font{
        font-size: 4rem;
    }
    .short-1{
        position: relative;
        top: 4rem;
        left: 15rem;
    }
    .sec-2{
        margin-top: 5vh;
    }
    .sec2-cards{
        grid-template-columns: repeat(1,1fr);
        gap: 3rem;
    }
    .sec2-title p{
        width: 100%;
    }
    .card p{
        font-size: 1.5rem;
        width: 60%;
    }
    .sec3-left{
        width: 100%;
    }
    .sec-3 img{
        width: 100%;
    }
    .sec-4{
        grid-template-columns: repeat(1,1fr);
    }
    .sec-5{
        grid-template-columns: repeat(1,1fr);
    }
    .foot{
        grid-template-columns: repeat(1,1fr);
    }
}